[defaults]
inventory = inventory.yml
host_key_checking = True
retry_files_enabled = False
stdout_callback = ansible.builtin.default
interpreter_python = auto_silent
roles_path = ansible/roles

[callback_ansible.builtin.default]
result_format = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=yes
pipelining = True
